:root {
  --blue: #003767;
  --orange: #bc541e;
  --light-blue: #7f9bb3;
}
.incidents-container {
  min-height: calc(100vh - (60px + 82px + 32px + 4vh));
}
.incidents-page {
  max-width: 1200px;
  margin: 32px auto 0;
}

.incidents-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px;
}

.incidents-page header .user-input {
  display: flex;
  justify-content: space-between;
}

.incidents-page section ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-box {
  width: 30%;
  height: 375px;
  overflow-y: scroll;
  margin: 24px 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.card-box .card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.card-box p {
  margin: 15px 0;
}

.card-force {
  margin-bottom: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1081px) {
  .incidents-page header {
    flex-flow: column;
  }
}

@media screen and (max-width: 640px) {
  .card-box {
    width: 75%;
  }
}

@media screen and (max-width: 400px) {
  .incidents-page header .user-input {
    flex-flow: column;
  }

  .incidents-page header .user-input .ant-select {
    width: 100% !important;
  }
}
