@import '~antd/dist/antd.css';
.incident-reports-page {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.incident-reports-page h1{
  margin-left: 1rem ;
  font-size: 1.5rem;
}
.export-form {
  width: 96%;
  text-align: left;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.158);
}
.export-form .ant-select{
  width: 90rem;
  margin-bottom: 1rem;
}
.ant-picker {
  width: 90rem;
  margin-bottom: 1rem;
}
.incidents-container {
  width: 98%;
  margin:auto;
  padding: .5rem;
}
.incidents-container h1 {
  margin-left: 5rem;
}
.header-top {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;
}
#title{
  margin-top: .11rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  color: #000;
}
.incidents-page header .user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.panel {
  background-color: rgba(0, 0, 0, 0.158);
}
.extra {
  display: flex;
  flex-flow: column; 
  width: 100%;
  text-align: left;
}
.incident-location {
  margin-left: 1.4rem;
  margin-bottom: .1rem;
  font-size: .9rem;
  color: #003767;
}
.incident-date {
  display: flex;
  flex-direction: row;
  margin-left: 1.4rem;
  font-size: .9rem;
  color: #003767;
}
.incident-rank span {
  margin-left: 1.4rem;
  margin-bottom: .5rem;
}
.header-checkbox {
  margin-left: 1.4rem;
}
.pagination {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2.5vh;
}

span.ant-tag.ant-tag-checkable:hover {
  color: #003767;
}

.ant-tag-checkable-checked {
  background-color: #003767;
}

span.ant-tag.ant-tag-checkable-checked:hover {
  color: #ffffff;
}

.ant-pagination-item a:hover {
  color: #003767;
  border-color: #003767;
}

.ant-pagination-item-active a {
  color: #003767;
  border-color: #003767;
}


/* Tablets and Lap */

/* Laptop Large */
@media only screen and (max-width: 1440px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 96%;
    text-align: left;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.158);
  }
  .export-form .ant-select{
    width: 83.5rem;
    margin-bottom: 1rem;
  }
  .ant-picker {
    width: 83.5rem;
    margin-bottom: 1rem;
  }
  .incidents-container {
    width: 98%;
    margin:auto;
    padding: .5rem;
  }
  .incidents-container h1 {
    margin-left: 5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
@media only screen and (max-width: 1280px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 96%;
    text-align: left;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.158);
  }
  .export-form .ant-select{
    width: 72rem;
    margin-bottom: 1rem;
  }
  .ant-picker {
    width: 72rem;
    margin-bottom: 1rem;
  }
  .incidents-container {
    width: 98%;
    margin:auto;
    padding: .5rem;
  }
  .incidents-container h1 {
    margin-left: 5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* ipad pro */
@media only screen and (max-width: 1024px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 97.5%;
    text-align: left;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.158);
  }
  .export-form .ant-select{
    width: 59rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 59rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* iPad */
@media only screen and (max-width: 768px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 97%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 44rem;
    margin-bottom: .5rem;
  }
  .ant-picker {
    width: 44rem;
    margin-bottom: .5rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
@media only screen and (max-width: 600px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 33rem;
    margin-bottom: .5rem;
  }
  .ant-picker {
    width: 33rem;
    margin-bottom: .5rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Surface Duo */
@media only screen and (max-width: 540px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 96%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 30rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 30rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
@media only screen and (max-width: 500px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 96%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 27rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 27rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Mobile Media Queries */

/* iPhone 6/7/8 plus */
@media only screen and (max-width: 414px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 22rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 22rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Pixel 2 and Pixel 2XL */
@media only screen and (max-width: 411px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.158);
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 22rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 22rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* iPhone 6/7/8 and iPhone X */
@media only screen and (max-width: 375px) {
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 20rem ;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 20rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Moto G4 and Galaxy S5 */
@media only screen and (max-width: 360px){
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.3rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 19rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 19rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .incidents-container h1 {
    font-size: 1.3rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Iphone 5/SE */
@media only screen and (max-width: 320px){
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1.5rem ;
    font-size: 1.3rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 17.375rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 17.375rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .incidents-container h1 {
    font-size: 1.3rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}
/* Galaxy Fold */
@media only screen and (max-width: 280px){
  .incident-reports-page {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .incident-reports-page h1{
    margin-left: 1rem ;
    font-size: 1.5rem;
  }
  .export-form {
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 1rem;
  }
  .export-form .ant-select{
    width: 14.5rem;
    margin-bottom: .2rem;
  }
  .ant-picker {
    width: 14.5rem;
  }
  .incidents-container {
    width: 100%;
    margin:auto;
    padding: .5rem;
  }
  .header-top {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 100%;
  }
  #title{
    margin-top: .11rem;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .incidents-page header .user-input {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .panel {
    background-color: rgba(0, 0, 0, 0.158);
  }
  .extra {
    display: flex;
    flex-flow: column; 
    width: 100%;
    text-align: left;
  }
  .incident-location {
    margin-left: 1.4rem;
    margin-bottom: .1rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-date {
    display: flex;
    flex-direction: row;
    margin-left: 1.4rem;
    font-size: .9rem;
    color: #003767;
  }
  .incident-rank span {
    margin-left: 1.4rem;
    margin-bottom: .5rem;
  }
  .header-checkbox {
    margin-left: 1.4rem;
  }
  .pagination {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2.5vh;
  }
  
  span.ant-tag.ant-tag-checkable:hover {
    color: #003767;
  }
  
  .ant-tag-checkable-checked {
    background-color: #003767;
  }
  
  span.ant-tag.ant-tag-checkable-checked:hover {
    color: #ffffff;
  }
  
  .ant-pagination-item a:hover {
    color: #003767;
    border-color: #003767;
  }
  
  .ant-pagination-item-active a {
    color: #003767;
    border-color: #003767;
  }
}