.graph-container {
  max-width: 1200px;
  margin: 0 auto;
}

.link-container[role='menu'] {
  height: 60px;
  border: none;
}

.graph-menu-item [role='menu-item'] {
  height: 48px;
}

.graph-container header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.graph-container header div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.graph-container header .ant-menu-item-group-title {
  padding: 0;
}

.graph-container canvas {
  background-color: #fff;
}

.no-data-container .no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (60px + 48px + 82px + 4vh));
  width: 50vw;
  margin: auto;
}
