#tweet {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 2%;
    margin-left: -0.2%;
    padding: 16px 16px 16px 16px;
    max-width: 585px;
}

.form-content {
    text-align: left;
    padding: 2rem;
    background-color:#C1D2E9;
    display: table;
    width: 585px;
}

.form-labels {
    margin-right: 10%;
}

.form-labels .form-inputs {
    font-size: 0.9rem;
    width: 295px;
    margin-bottom: 3%;
}

.submitbutton {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

.graph {
    padding: 2%;
    border: 1px solid rgba(255, 99, 132, 0.4);
    font-size: 0.9rem;
}


@media (max-width: 620px) {

    #tweet {
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        border-color: #eee #ddd #bbb;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        margin-bottom: 2%;
        margin-left: -0.2%;
        padding: 16px 16px 16px 16px;
        max-width: 468px;
    }

    .form-content {
        text-align: left;
        padding: 2rem;
        background-color:#C1D2E9;
        display: block;
        width: auto;
    }

    .form-labels .form-inputs {
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 3%;
    }

    .graph {
        padding: 2%;
        border: 1px solid rgba(255, 99, 132, 0.4);
    }
}