.about-container {
  margin: auto;
  max-width: 50%;
  min-height: calc(100vh - (60px + 77px + 4vh));
}

.about-container h1 {
  text-align: left;
}

h2 {
  font-size: 24px;
}

.about-container p {
  margin-bottom: 2rem;
  font-size: 14px;
}

.lambda-logo {
  max-height: 4rem;
}
