/* .about-container {
  margin: auto;
  max-width: 50%;
  min-height: calc(100vh - (60px + 77px + 4vh));
}

.about-container h1 {
  text-align: left;
}

h2 {
  font-size: 24px;
}

.about-container p {
  margin-bottom: 2rem;
  font-size: 14px;
}

 */

.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-top-container {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

h1 {
  font-size: 1.8rem;
}

.about-top-container h2,
h1 {
  color: var(--primary-white);
  text-decoration: bold;
}

.h1-text {
  font-size: 1.1rem;
}

.about-top-container h2 {
  padding-top: 1.5vh;
}

.about-links {
  color: var(--primary-white);
  text-decoration: underline;
}

.data-description-container {
  width: 50vw;
  text-align: center;
}

.data-info-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5vh;
}

.info-container {
  width: 20vw;
  text-align: center;
}

.icons {
  height: 8vh;
}

.confirm-icon {
  height: 9vh;
}

.about-bottom-container {
  /* background-color: var(--secondary-white); */
  background-color: lightgray;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.inside-bottom-container {
  width: 45vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 3vw;
  padding-left: 3vw;
}

.lambda-credits-container {
  background-color: var(--primary-white);
}

.about-bw-container {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.about-bw-container h2,
h1 {
  color: var(--primary-white);
}

.about-lambda-logo {
  max-height: 2rem;
}

.about-logo-container {
  display: flex;
  justify-content: center;
  max-height: 2rem;
}

.bot-css {
  padding-left: 8px;
}

.lambda-credits {
  text-align: center;
}
