.bottom-section {
  padding-bottom: 1vh;
}
.nav-container {
  margin-top: 20%;
  width: 5.5%;
  position: absolute;
  top: -200px;
  left: 23px;
}
.blue-witness-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin-right: 10%;
  padding-right: 3%;
}
.timeline {
  margin-left: -30%;
}
.horizontal-graph {
  margin-right: -10%;
}

.mapboxgl-ctrl {
  position: absolute;
  z-index: 2;
}

@media (max-width: 1440px) {
  .timeline {
    width: 90%;
    margin: -4.5% 0% 0% -2%;
  }
  .horizontal-graph {
    margin-right: 2%;
    width: 44%;
  }
  div.line-break {
    width: 110.3%;
  }
  .nav-container {
    margin-top: 20%;
    width: 5.5%;
    position: absolute;
    top: -100px;
    left: 23px;
  }
}
@media (max-width: 1024px) {
  .more-info {
    margin: -2.8% 0% 2.2% 0%;
  }
  .arrow:before,
  .arrow:after {
  width: 3px;
  height: 27px;
  }
  .arrow-container {
    padding: 2.7%;
  }
  #title-text {
    margin-bottom: -1%;
  }
  div.line-break {
    margin-top: 1%;
    width: 111.3%;
  }
  .timeline {
    margin: -7% 0% 0% -5%;
    width: 95%;
  }
  .horizontal-graph {
    margin-right: 2%;
    width: 42%;
  }
  .nav-container {
    margin-top: 20%;
    width: 5.5%;
    position: absolute;
    top: -5px;
    left: 23px;
  }
}
@media (max-width: 768px) {
  .nav-container {
    margin-top: 20%;
    width: 4.7%;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  div.line-break {
    margin-top: 1%;
    width: 112.5%;
  }
  .bottom-section-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8% 0% 0% 0%;
  }
  #title-text {
    padding-right: 7%;
  }
  .timeline {
    margin: -7% 0% 0% 16%;
    width: 170%;
  }
  .horizontal-graph {
    border-top: solid rgb(204, 204, 204);
    padding:10%;
    margin: 3% 0% 5% 0%;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .nav-container {
    margin-top: 20%;
    width: 5.5%;
    position: absolute;
    top: 250px;
    left: 25px;
  }
  .more-info {
    margin: -4% 0% 2.2% 0%;
  }
  div.line-break {
    margin-top: 1%;
    width: 114%;
  }
  #title-text {
    padding-right: 9.5%;
  }
  .bottom-section-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8% 0% 0% 0%;
  }
  .timeline {
    margin: -20% 0% 10% 9%;
    width: 180%;
  }
  .horizontal-graph {
    margin: 0% 0% 0% 0%;
    width: 100%;
    border-top: solid rgb(204, 204, 204);
    padding: 12%;
  }
}
@media (max-width: 414px) {
  .nav-container {
    margin-top: 20%;
    width: 8.5%;
    position: absolute;
    top: 290px;
    left: 345px;
  }
  .more-info {
    margin: -7% 0% 4% 0%;
  }
  div.line-break {
    margin-top: 2%;
    width: 117%;
  }
  #title-text {
    padding-right: 12%;
  }
  .timeline {
    width: 200%;
  }
}
@media (max-width: 375px) {
  .nav-container{
    top: 240px;
    left: 314px;
  }
  .search-header {
    width: 87.5%;
  }
  .more-info {
    margin: -8% 0% 4% 0%;
  }
  div.line-break {
    margin: 2% 0% 0% -10%;
    width: 120.3%;
  }
  #title-text {
    padding-right: 13%;
  }
  .horizontal-graph {
    margin: 0% 0% 0% -7%;
    width: 107%;
    border-top: solid rgb(204, 204, 204);
    padding: 15%;
  }
}
@media (max-width: 360px) {
  .nav-container{
    top: 220px;
    left: 300px;
  }
}
@media (max-width: 320px) {
  .horizontal-graph {
    margin: 0% 0% 0% 0%;
    width: 100%;
    border-top: solid rgb(204, 204, 204);
    padding: 2% 2% 20% 2%;
  }
  div.line-break {
    margin: 2% 0% 0% -12%;
    width: 124.1%;
  }
  #title-text {
    padding-right: 19%;
  }
  .timeline {
    width: 250%;
    margin-left: -5%;
  }
  .nav-container {
    width: 11%;
    top: 165px;
    left: 265px;
  }
}
@media (max-width:280px) {
  .nav-container {
    width: 12%;
    top: 245px;
    left: 225px;
  }
}
