.bottom-section {
  padding-bottom: 1vh;
}
.nav-container {
  margin-top: 20%;
  width: 5.5%;
  position: absolute;
  top: -180px;
  left: 23px;
}


@media (max-width: 1440px) {
  .timeline {
    width: 90%;
    margin: -4.5% 0% 0% -5.5%;
  }
  .horizontal-graph {
    margin-left: -2%;
    width: 44%;
  }
  div.line-break {
    width: 110.3%;
  }
  div.ant-collapse-item {
    margin-right: 2%;
  }
  .nav-container {
    margin-top: 20%;
    width: 5.5%;
    position: absolute;
    top: -180px;
    left: 23px;
  }
}

@media (max-width: 1024px) {
  .more-info {
    margin: -2.8% 0% 2.2% 0%;
  }
  .arrow:before,
  .arrow:after {
  width: 3px;
  height: 27px;
  }
  .arrow-container {
    padding: 2.7%;
  }
  #title {
    margin-bottom: -1%;
  }
  div.ant-collapse-item {
    margin-right: 4%;
  }
  div.line-break {
    margin-top: 1%;
    width: 111.3%;
  }
  .timeline {
    margin: -7% 0% 0% -9.8%;
    width: 95%;
  }
  .horizontal-graph {
    margin-left: -3%;
    width: 42%;
  }
  .nav-container {
    margin-top: 20%;
    width: 5.5%;
    position: absolute;
    top: -140px;
    left: 23px;
  }
  
}

@media (max-width: 785px) {
  div.ant-collapse-item {
    margin: -166% 6% 0% -20%;
  }
  .nav-container {
    margin-top: 20%;
    width: 4.7%;
    position: absolute;
    top: 140px;
    left: 25px;
  }
  div.line-break {
    margin-top: 1%;
    width: 112.5%;
  }
  .bottom-section-wrap {
    display: flex;
    /* border: solid blue; */
    width: 100%;
    margin: 8% 0% 0% 0%;
  }
  .timeline {
    /* border:solid red; */
    margin: -21.5% 0% 0% 8%;
    width: 90%;
    /* margin: -7% 0% 0% 16%;
    width: 170%; */
  }
  .horizontal-graph {
    /* border: solid black; */
    margin: 0% 10% 0% 0%;
    width: 49%;
    /* margin: 3% 0% 5% 15%;
    width: 72%; */
  }
  
}