.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2rem;
  .graph-buttons-container {
    width: 50%;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .graph-buttons {
      list-style-type: none;
      padding: 0;
      width: 100%;
      height: 100%;
      .link-item {
        height: 48px;
        line-height: 46px;
        font-size: 14px;
        color: #1890ff;
        .icon {
          margin: 0 auto;
          margin-right: 10px;
          line-height: 0px;
          min-width: 14px;
          width: 2%;
          @media screen and (max-width: 880px) {
            font-size: 1.6rem;
          }
        }
        .text {
          margin-right: 8px;
          @media screen and (max-width: 880px) {
            display: none;
          }
        }
      }
    }
  }
  .search-bar-container {
    width: 300px;
    max-width: 50%;
    padding-left: 1rem;
  }
}
