root {
  --blue: #003767;
  --orange: #fff;
  --light-blue: #7f9bb3;
}

root:hover {
  color: yellow;
}

.nav-container {
  display: flex;

  nav {
    background-color: var(--blue);
    display: flex;

    .layout {
      width: 70%;
    }
  }

  nav .layout [role='menu'] {
    background-color: var(--blue);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo-container {
    width: 11%;
    height: 59px;
    background-color: var(--blue);
  }
  .lambda-container {
    max-height: 2.5rem;
    width: 11%;

    .lambda {
      max-height: 2.5rem;
    }
  }
  .logo {
    max-height: 3rem;
    position: absolute;
    z-index: +1;
    margin-top: 0.25%;
    margin-left: 0.25%;
  }
}

nav {
  display: inline;
  width: 100%;
}

.layout {
  border: none;

  a {
    color: white !important;
    font-size: 1.2rem;
  }

  a:focus {
    font-weight: bold;
  }
}

.undefined-submenu {
  color: #fff;
}
