root {
  --blue: #003767;
  --orange: #fff;
  --light-blue: #7f9bb3;
}

root:hover {
  color: yellow;
}

.nav-container {
  display: flex;
  
  nav {
    background-color: var(--blue);
    display: flex;

    .layout {
      width: 70%;
    }
  }

  nav .layout [role='menu'] {
    background-color: var(--blue);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
  }
  .logo-container {
    width: 15%;
    height: 59px;
    background-color: var(--blue);
  }
  .lambda-container {
    max-height: 2.5rem;
    margin-top: 6px;
    width: 15%;


    .lambda {
      max-height: 2.5rem;
    }
  }
  .logo {
    padding: 0 6px;
    float: right;
    max-height: 3.5rem;
  }
}

nav {
  display: inline;
  min-width: 100%;
}

.layout {
  border: none;

  a {
    color: white !important;
    font-size: 1.5rem;
  }

  a:focus {
    font-weight: bold;
  }
}

.undefined-submenu {
  color: #fff;
}
