root {
  --blue: #003767;
  --orange: #fff;
  --light-blue: #7f9bb3;
}

root:hover {
  color: yellow;
}

.nav-container {
  display: flex;

  nav {
    background-color: var(--blue);
    display: flex;

    .layout {
      width: 70%;
    }
  }

  nav .layout [role='menu'] {
    background-color: var(--blue);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .logo-container {
    width: 11%;
    height: 59px;
    background-color: var(--blue);
  }
  .lambda-container {
    // max-height: 2.5rem;
    display: flex;
    align-items: center;

    .lambda {
      margin-top: 5px;
      margin-left: 0.8rem;
      padding-right: 1rem;
      max-height: 2.5rem;
    }
  }
  .logo {
    max-height: 3rem;
    position: absolute;
    z-index: +1;
    margin-top: 0.25%;
    margin-left: 0.25%;
  }
}

nav {
  display: inline;
  width: 100%;
}

.active-nav-link {
  font-weight: 600;
}

.layout {
  border: none;

  a {
    color: white !important;
    font-size: 1.2rem;
  }
}

.undefined-submenu {
  color: #fff;
}

/* overrides for ant design */

.ant-menu-horizontal.override {
  line-height: 52px;
  box-shadow: 15px;
}

.ant-menu-horizontal.ant-menu-item:hover {
  border-bottom: 6px solid;
}
