.navbar-container {
  display: flex;
  justify-content: space-between;
  background: #003767;
  text-align: left;
  height: 5rem;
}

.logo-container {
  width: 10%;
  margin-top: .3rem;
}

.hrf-logo {
  width: 10rem;
  margin-left: 2rem;
  margin-top: .9rem;
}

.menu {
  background: #003767;
  padding-top: 1rem;
  width: 90%;
  margin-top: -.2rem;
  margin-left: 63rem;
  font-size: 1rem;
  height: 1rem;
  border-bottom: none !important;
}

.menu-link {
  color: #fff !important ;
}

.ant-menu-submenu-title span {
  color: #fff;
}

