.navbar-container {
  display: flex;
  justify-content: space-between;
  background: #003767;
  text-align: left;
  height: 5rem;
}

.logo-container {
  width: 20%;
}

.bw-logo {
  width: 9rem;
  margin-left: 2rem;
}

.hrf-logo {
    width: 7rem;
    margin-top: 3.2rem;
}

@media (max-width: 879px) {
  .logo-container {
    width: 100%;
  }
} 

@media (max-width: 879px) {
  .bw-logo {
    width: 7rem;
  }
} 

@media (max-width: 879px) {
  .hrf-logo {
    width: 5.44rem;
    margin-top: 3rem;
  }
} 

@media (max-width: 500px) {
  .logo-container {
    width: 100%;
  }
} 

@media (max-width: 500px) {
  .bw-logo {
    width: 7rem;
  }
} 

@media (max-width: 500px) {
  .hrf-logo {
    width: 5.44rem;
  }
} 

.menu {
  background: #003767;
  padding-top: 1rem;
  width: 55%;
  margin-top: -0.2rem;
  margin-right: 1rem;
  font-size: 1rem;
  height: 1rem;
  border-bottom: none !important;
  text-align: right;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: white;
}



.ant-menu-item-selected {
  background-color: #ffffff00 !important;
}

.ant-menu-submenu-title span {
  color: #fff;
  
}

/* Fix for bottom border of nav-menu collapsed icon (removing it will somehow still display black border when leaving hover state */
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  border-color: #003767;
  
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #D3945F;
}
