@background-color: #003767;
@text-color: white;
@transparent: #ffffff00;

.navbar-container {
  display: flex;
  justify-content: space-between;
  background: @background-color;
  text-align: left;
  height: 5rem;
  padding-left: 2rem;

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.8rem;
    @media (max-width: 879px) {
      padding-top: 1.1rem;
    }

    .bw-logo {
      width: 9rem;
      @media (max-width: 879px) {
        width: 7rem;
      }
    }

    .hrf-logo {
      margin-top: 0.2rem;
      width: 7rem;
      @media (max-width: 879px) {
        width: 5.44rem;
      }
    }
  }

  .menu {
    background: @background-color;
    padding-top: 1rem;
    margin-top: -0.2rem;
    margin-right: 1rem;
    font-size: 1rem;
    height: 1rem;
    border-bottom: none !important;
    text-align: right;
    width: 80%;
    @media (max-width: 879px) {
      width: 4rem;
    }

    .hamburger-icon {
      color: @text-color;
      font-size: 1.5rem;
      margin: 0;
      padding-top: 0.9rem;
    }

    .menu-link {
      color: @text-color;
      transition: color 0.1s;
      &:hover {
        color: #d3945f;
        transition: color 0.1s;
      }
    }
  }

  .ant-menu-item-selected {
    background-color: @transparent !important;
  }

  /* Fix for bottom border of nav-menu collapsed icon (removing it will somehow still display black border when leaving hover state */
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    border-color: @background-color;
  }
}
