:root {
  --blue: #003767;
  --orange: #bc541e;
  --light-blue: #7f9bb3;
}

div.timeline-container {
  padding: 0;
  background-color: white;
}

.timeline {
  width: 100%;
  margin: 0;
}

.timeline-box {
  width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  //overflow-y: scroll;
}

.timeline-button {
  width: 100%;
  font-size: large;
}
.timeline-wrapper {
  @media (max-width: 2560px) {
    width: 40vw;
  }

  @media (max-width: 1980px) {
    width: 45vw;
  }

  @media (max-width: 1500px) {
    width: 55vw;
  }
  @media (max-width: 1280px) {
    width: 55vw;
  }
}

// .categories {
//   display: flex;
//   flex-wrap: wrap;
// }

// .categories,
// .timeline-links {
//   display: flex;
//   align-items: space-between;
// }

// .timeline-links {
//   flex-wrap: wrap;
// }

// .category-item,
// .link-button {
//   background-color: #dadbdc;
//   margin: 5px 5px 5px 0px;
//   padding: 5px;
// }

// a.link-button {
//   color: var(--orange) !important;
// }

// .sourceText {
//   line-height: 2.7;
//   padding-right: 5px;
//   margin-top: 10px;
// }

// .ant-btn:first-child {
//   visibility: hidden;
// }

// div.ant-modal-body {
//   padding: 35px 35px 0px 35px;
// }

// .entry .title::before {
//   right: -11px;
// }
