  .footer-container {
    background-color: #003767;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: auto;
  }
  
  .top-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .office-contact {
    width: 50%;
  }

  .office-contact h3{
    color: white
  }
  
  .footer-links-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    font-size: 1.2rem;
  }

  .footer-links-container Button {
    margin-top: 1.2rem;
  }
  
  .footer-links-container a:hover {
    color: var(--hover-blue);
  }

  .footer-links-container img {
    margin: 0;
    padding-bottom: 10px;
  }

  .built-by-lambda-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .built-by-lambda {
    height: 6vh;
    background-color: #003767;
  }

  .hrflogo {
    height: 4vh;
    background-color: #003767;
  }
  
  .copyright-container {
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid white;
  }

  .blue-logo {
    height: 4rem
  }

  @media only screen and (max-width: 1200px) {
    .top-container {
      flex-direction: column;
      align-items: center;
    }
  
    .office-contact {
      text-align: center;
      width: 90%;
      margin-bottom: 2rem;
    }
  
    .built-by-lambda-container {
      flex-direction: row;
      margin-bottom: 2rem;
    }
  
    .built-by-lambda {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      padding-left: 2rem;
    }
    
    .footer-links-container {
      width: 100%;
      padding-top: 1rem;
      border-top: 1px solid white;
    }

    .footer-container { 
      position: relative;
    }
  }

  @media only screen and (max-width: 768px) {
    .built-by-lambda-container {
      flex-direction: column;
    }
  }

