root {
  --blue: #003767;
  --orange: #fff;
  --light-blue: #7f9bb3;
}

root:hover {
  color: yellow;
}

.footer-container {
  display: flex;
  flex-direction: column;

  .layout {
    width: 100%;
    background-color: var(--blue);
    margin-top: 4vh;
  }

  .admin-dash-container {
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .copyright-container p {
    color: white;
    text-align: center;
  }
}
