  .footer-container {
    background-color: #003767;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .top-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .footer-links-container {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .footer-links-container a {
    color: white;
  }
  
  .footer-links-container a:hover {
    color: var(--hover-blue);
  }

  .built-by-lambda-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .built-by-lambda {
    height: 6.5vh;
    margin-top: 3rem;
  }
  
  .copyright-container {
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid white;
  }

