/* //incident div breakpoints */

@media (max-width: 1440px) {
    .collapseText.ant-collapse-item {
        margin: 0 3% 0 0 ;
    }
}
@media (max-width: 800px) {

    .map-menu {
        position: absolute;
        top: 41%;
        right: 0px;
    }
}
@media (max-width: 768px) {
    .collapseText.ant-collapse-item {
        margin: -171% 0 0 -55%;
    }
}
@media (max-width: 600px) {
    .collapseText.ant-collapse-item {
        margin: -218% 5% 0 -25%;
    }
}
@media (max-width: 540px) {
    .map-menu {
        position: absolute;
        left: 8.5%;
        top: 77%;
    }
    div.ant-collapse-item.collapseText {
        width: 345px;
    }
}
@media (max-width: 430px) {
    .map-menu {
        position: absolute;
        z-index: 1;
        color: black;
        margin-bottom: 10px;
        top: 122%;
        left: 20%;
        width: 298px;
        padding-top: 30%;
    }
}
@media (max-width: 414px) {
    .map-menu {
        position: absolute;
        left: 21%;
    }
    div.ant-collapse-item.collapseText {
        width: 350px;
    }
}
@media (max-width: 411px) {
    .map-menu {
        position: absolute;
        width: 110px;
        top: 42%;
        left: 10%;
    }
}
@media (max-width: 380px) {
    .map-menu {
        position: absolute;
        z-index: 1;
        bottom: 190px;
        color: black;
        margin-bottom: 10px;
        top: 36%;
        width: 100px;
        padding-right: 5px;
    }
}
@media (max-width: 375px) {
    .map-menu {
        position: absolute;
        left: 10.5%;
        top: 43%;
    }
    div.ant-collapse-item.collapseText {
        width: 326px;
    }
}
@media (max-width: 360px) {
    .map-menu {
        position: absolute;
        left: 11%;
        top: 46%;
    }
    div.ant-collapse-item.collapseText {
        width: 314px;
    }
}
@media (max-width: 320px) {
    .map-menu {
        position: absolute;
        top: 56%;
        left: 12.5%;
    }
    div.ant-collapse-item.collapseText {
        width: 278px;
    }
}
@media (max-width: 280px) {
    .map-menu {
        position: absolute;
        top: 51%;
        left: 15%;
    }
    div.ant-collapse-item.collapseText {
        width: 242px;
    }
}
