.mapDiv {
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .mapDiv {
    width: 100%;
  }
}

.search-header {
  width: 500px;
  left: 24px;
  display: flex;
  position: absolute;
  top: 24px;
}

.map-menu-background {
  position: absolute;
  top: 84px;
  right: 24px;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 800px) {
  .map-menu-background {
    position: absolute;
    top: 48%;
    right: 0px;
  }

  .search-header {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .search-header {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}
