.stats {
  background-color: var(--blue);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 10vh;
}

.stat h2 {
  color: white;
}

.slick-list {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ant-carousel .slick-dots {
  margin: 0px;
}

@media (min-height: 900px) {
  .ant-carousel .slick-dots {
    padding-bottom: 2px;
  }
}

@media (min-height: 1000px) {
  .ant-carousel .slick-dots {
    padding-bottom: 8px;
  }
}

@media (min-height: 1200px) {
  .ant-carousel .slick-dots {
    padding-bottom: 12px;
  }
}

@media (min-height: 1300px) {
  .ant-carousel .slick-dots {
    padding-bottom: 13px;
  }
}

html {
  scroll-behavior: smooth;
}

div.line-break {
  background-color: #003767; /*remove the white border*/
  width: 109.6%;
  padding: 0.25% 0 0 0;
  margin: 0.5% 0 1% -8%;
}

.site-layout-background {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
  text-align: center;
  background: #003767;
}

#title {
  color: white;
  font-weight: normal;
  margin-right: 10%;
}

.more-info {
  margin: -1.5% 0% 1.2% 0%;
  color: white;
  font-weight: lighter;
}

/*arrows scroll behavior*/
html {
  scroll-behavior: smooth !important;
}

/*arrows implementation & animation */
.arrow-container {
  display: block;
  margin: 1.2% 0% -1% 50%;
  padding: 2%;
  height: 30px;
  width: 103%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
  cursor: pointer;
}

.arrow-container:hover .arrow {
  top: 50%;
}

.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}

.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}

.arrow:before,
.arrow:after {
  transition: all 0.4s ease;
  content: '';
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 4px;
  height: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}

.arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}

.arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}

/*# sourceMappingURL=Stats.css.map */

/* media queries to keep 'Blue Witness Statistics' title out of home screen */
@media screen and (max-height: 823px){
  .arrow-container {
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) and (min-height: 1366px){
  .arrow-container {
    margin-bottom: 7%;
  }
}
@media (min-width: 768px) and (max-height: 1024px){
  .arrow-container {
    margin-bottom: 5%;
  }
}
@media (min-width: 375px) and (max-height: 812px){
  .arrow-container {
    margin-bottom: 10%;
  }
}