:root {
  --blue: #003767;
  --orange: #bc541e;
  --light-blue: #7f9bb3;
}

.stats {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 13vh;
}

.stat h2 {
  color: white;
}

// ant design carousel override

.ant-carousel .slick-dots {
  margin-bottom: 35px;
}
