:root {
  --blue: #003767;
  --orange: #bc541e;
  --light-blue: #7f9bb3;
}

.stats {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

.stat {
  margin: 0 10%;
}

.stat h2,
.stat h3 {
  color: white;

  :hover {
    font-weight: bolder;
  }
}