:root {
  --blue: #003767;
  --orange: #bc541e;
  --light-blue: #7f9bb3;
}

.stats {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.stat h2 {
  color: white;
}

.slick-list {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ant design carousel override

.ant-carousel .slick-dots {
  // padding-bottom: 0;
  margin: 0px;
  @media (min-height: 900px) {
    padding-bottom: 2px;
  }
  @media (min-height: 1000px) {
    padding-bottom: 8px;
  }
  @media (min-height: 1200px) {
    padding-bottom: 12px;
  }
  @media (min-height: 1300px) {
    padding-bottom: 13px;
  }
}
