.complete-incident {
  text-align: left;
  border-top: none;
  padding-bottom: 2%;
  border: 1px solid #e3e8ee;
  border-radius: 5px;

  button {
    margin: auto 1%;
  }
}

.edit-input {
  margin-bottom: 2%;
}

.label {
  font-weight: bold;
}

.complete-incident-dropdown {
  margin-top: 23px;
  margin-left: 2%;
}

#dropdown-edit-button {
  margin-left: 0px;
}
