.complete-incident {
  text-align: center;
  border: solid black 2px;
  border-top: none;
  padding-bottom: 2%;

  button {
    margin: auto 1%;
  }
}

.edit-input {
  margin-bottom: 2%;
}

.label {
  font-weight: bold;
}
