.pending-incident-untoggled {
  display: flex;
  align-items: center;
  border: solid black 2px;
  margin: 1% auto;
  width: 100%;
}

.incident-info {
  width: 30%;
  text-align: center;
}

.incident-info:first-child {
  text-align: left;
}

.more-info {
  cursor: pointer;
}
