.pending-incident {
  display: flex;
  justify-content: space-between;
  border: solid black 2px;
  width: 100%;
  align-items: center;
}

.toggled {
  border-bottom: none;
}

.incident-info {
  text-align: left;
  padding-top: 1%;
}

.incident-info:first-child {
  text-align: left;
  margin: auto 1%;
}

.incident-info:nth-child(2) {
  width: 45%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.incident-info:nth-child(3) {
  width: 15%;
}

.incident-info:last-child {
  margin-right: 1%;
}

.more-info {
  cursor: pointer;
}
