.Map {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-top: -1px;
}

.Timeline {
  background-color: #ffff;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrapgit ;
}

.H-bar {
  margin-top: 10px;
  width: 500px;
}
