@import './components/NavBar/nav.scss';
@import './components/about/About.scss';
@import './components/graphs/linegraph/LineGraph.scss';
@import './components/graphs/pagination/Pagination.scss';
@import './components/graphs/piegraph/Key.scss';
@import './components/graphs/GraphContainer.scss';
@import './components/incidents/Incidents.scss';
@import './components/map/incidentContainer/LastIncident.scss';
@import './components/map/ClusterMarker.scss';
@import './components/map/MapContainer.scss';
@import './components/map/MapSearch.scss';
@import './components/Stats/Stats.scss';
@import './components/timeline/RecentTimeline.scss';
@import './components/AdminDashboard/AdminDashboard.scss';
@import './components/AdminDashboard/CompleteIncident.scss';
@import './components/AdminDashboard/PendingIncident.scss';
@import './components/AdminDashboard/AddIncident.scss';
@import './components/AdminDashboard/Source.scss';

.Map {
  position: relative;
  width: 100%;
  min-height: calc(90vh - 59px);
  margin-top: -1px;
}

.Timeline {
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrapgit;
  // ^ This seems to be a typo?
}