.search-header {
    width: 500px;
    padding-bottom: 2%;
  }
  
  .map-menu-background {
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: 1;
  }
  
  @media (max-width: 800px) {
    .map-menu-background {
      position: absolute;
      top: 48%;
      right: 0px;
    }
  
    .search-header {
      width: 350px;
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 900px) {
    .search-header {
      width: 350px;
      display: flex;
      flex-direction: column;
    }
  }
  