.map-menu {
  margin-top: 20px;
  background-color: rgb(36, 35, 33);

  border-style: solid;
  border-color: rgb(36, 35, 33);
  padding-left: 2%;
  width: 300px;
}
/* span.map-search {
  background-color: rgb(36, 35, 33);
  border-color: rgb(36, 35, 33);
  font-size: 1.2rem;
  font-weight: 00;
  color: blue;
}
input.ant-input {
  background-color: rgb(36, 35, 33);
  color: white;
  font-size: 25px;
  margin-left: 3px;
} */
input.ant-input {
  background-color: rgb(36, 35, 33);
  color: white;
}

button.ant-btn.ant-btn-primary.ant-input-search-button {
  visibility: visible;
  background-color: rgb(255, 255, 255);
  border-color: #ffff;
  color: black;
}
.icon-img {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  z-index: 1;
}

.ant-collapse {
  background-color: rgb(36, 35, 33);
  border: none;
}
.ant-collapse-content-box {
  background-color: rgb(36, 35, 33);
  overflow: auto;
}
@media (max-width: 800px) {
  .ant-collapse-content-box {
    background-color: rgb(36, 35, 33);
  }
  div.incident-content {
    height: 17vh;
  }
}
.incident-content {
  height: 50vh;
  z-index: 1;
}
div.ant-collapse-header {
  padding: 4;
  text-align: center;
  color: white;
  padding-bottom: 4%;
}

div.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
  padding: 5px 0px 5px 0px;
  font-size: 1.5rem;
  text-align: left;
  margin-left: 15px;
  font-weight: 500;
}
@media (max-width: 800px) {
  div.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 1.1rem;
  }
  div.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 3px 0px 1px 0px;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 15px;
    font-weight: 500;
  }
}

.incident-header {
  color: white;
}
.incident-location {
  color: white;
  font-weight: lighter;
}
.incident-date {
  color: white;
  font-weight: lighter;
}

.incident-discription {
  color: white;
}
.incident-category {
  color: white;
}
.incident-categories {
  color: white;
}

.incident-container {
  display: flex;
  flex-direction: row;
}
