.map-menu{
    
    margin-top:20px;
    
    border-style: solid;
    border-color: rgb(52,51,50);
    padding-left: 2%;

}
.map-search{
    background-color:rgb(52,51,50);
   border: none;
   font-size: 1.2rem;
   font-weight: 300;
    
    
}
.ant-input{
    background-color: rgb(52,51,50);
    color:white
    
}
.ant-input-affix-wrapper{
    padding: 0px
}
.ant-collapse{
    background-color: rgb(52,51,50);
    border: none;
    
    
    
}
.ant-collapse-content-box{
    background-color: rgb(52,51,50);
    
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    color:white;
    padding: 10px 0px 0px 0px;
    font-size: 1.2rem ;
}