.graph-legend-wrap {
  margin-bottom: 6%;

  padding: 4%;
  border: 1px solid rgba(255, 99, 132, 0.4);
}

h3.homepage-legend {
  text-align: left;
}

li.rank {
  list-style-type: none;
  padding: 1% 0 0 0;
}

p.graph-disclaimer {
  margin-top: 0;
}

@media (max-width: 320px) {
   .graph-legend-wrap {
     padding-bottom: 10%;
     width: 100%;
   }
}